@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'bodytext';
  src: url('../public/fonts/neuemontreal.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'bodytext';
  src: url('../public/fonts/neuemontreal-medium.otf');
  font-weight: bold;
}

:root {
  --primary: #171717;
  --mint: #b7dcbd;
  --lime: #e6f5c5;

  font-family: 'bodytext', serif;

  /* Animation timing */
  --animation-duration: 0.3s;
  --animation-stagger: 150ms;
}

@theme inline {
  --color-primary: var(--primary);
  --color-mint: var(--mint);
  --color-lime: var(--lime);
}

@keyframes scroll-dots {
  to {
    background-position: 15px 15px;
  }
}

.bordered {
  border: 2px solid black;
}

.outlined {
  -webkit-text-stroke: 6px black;
  paint-order: stroke fill;
}

button {
  cursor: pointer;
  text-decoration: underline;
  color: black;
  background-color: #dcebcd;
}

button:hover {
  opacity: 0.5;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  color: gray;
}

input {
  padding: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
