@import 'tailwindcss';

@font-face {
  font-family: 'bodytext';
  src: url('../public/fonts/ReformatB-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'bodytext';
  src: url('../public/fonts/ReformatB-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'headertext';
  src: url('../public/fonts/StellageTest-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'headertext';
  src: url('../public/fonts/StellageTest-Italic.otf');
  font-style: italic;
}

:root {
  --primary: #171717;
  --mint: #b7dcbd;
  --lime: #e6f5c5;
  --sunflower: #edf1b488;
  --rose: #faadad;
  --orange: #fbdcb7;

  font-family: 'bodytext', serif;

  /* Animation timing */
  --animation-duration: 0.3s;
  --animation-stagger: 150ms;
}

h1 {
  font-family: 'headertext';
  font-style: italic;
  background: linear-gradient(90deg, #bedfc3 0%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: #b7dcbd;
  font-size: 4rem;
  /* Use text-shadow to push stroke outwards for extra outside effect */
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    0px 1px 0 #000,
    1px 0px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000;
}

@theme inline {
  --color-primary: var(--primary);
  --color-mint: var(--mint);
  --color-lime: var(--lime);
}

@keyframes scroll-dots {
  to {
    background-position: 15px 15px;
  }
}

.bordered {
  border: 2px solid black;
}

.outlined {
  -webkit-text-stroke: 6px black;
  paint-order: stroke fill;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  color: gray;
}

input {
  padding: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  outline: none;
}

h1 {
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 3px; /* Remove scrollbar space */
  background: transparent;
  height: 0px;
}

button.display {
  @apply border-2 px-2 py-1 hover:rounded-[10px] transition-all hover:-translate-x-[5px] hover:-translate-y-[5px] hover:shadow-[4px_4px_black] bg-white;
}
