@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import 'tailwindcss';

:root {
  --primary: #171717;
  --mint: #b7dcbd;
  --lime: #e6f5c5;

  font-family: Inter, sans-serif;

  /* Animation timing */
  --animation-duration: 0.3s;
  --animation-stagger: 150ms;
}

@theme inline {
  --color-primary: var(--primary);
  --color-mint: var(--mint);
  --color-lime: var(--lime);
}

@keyframes scroll-dots {
  to {
    background-position: 15px 15px;
  }
}

.bordered {
  border: 2.5px solid black;
}

.outlined {
  -webkit-text-stroke: 6px black;
  paint-order: stroke fill;
}

button {
  @apply cursor-pointer;
}
