@import 'tailwindcss';

:root {
  --primary: #171717;
  --mint: #b7dcbd;
  --lime: #e6f5c5;
}

@theme inline {
  --color-primary: var(--primary);
  --color-mint: var(--mint);
  --color-lime: var(--lime);
}

html {
  background: linear-gradient(135deg, #d5e7c0 0%, #ffffff 100%);
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scroll-dots {
  to {
    background-position: 15px 15px;
  }
}

.bordered {
  border: 2.5px solid var(--primary);
}

.bordered-bottom {
  border-bottom: 2.5px solid var(--primary);
}

.bordered-left {
  border-left: 2.5px solid var(--primary);
}

.bordered-top {
  border-top: 2.5px solid var(--primary);
}

.shadowed {
  /* 2d shadow effect */
  box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 1);
}

.outlined {
  -webkit-text-stroke: 6px black;
  paint-order: stroke fill;
}

button {
  @apply select-none w-full text-left px-4 py-2 border-2 border-black rounded hover:bg-black hover:text-white transition-colors font-mono cursor-pointer;
}
